* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    padding: 5rem 0;
}

.container {
    display: flex;
    padding: 1.5rem;
    flex-wrap: wrap;
}

.container div {
    margin: 1rem;
}

.pictures {
    width: 6.4rem;
}

.pictures img {
    margin-bottom: .8rem;
}

img {
    width: 100%;
}

.picture {
    position: relative;
    width: 42rem;
    height: 40rem;
}

.picture img {
    display: inline-block;
    width: 80%;
    height: 100%;
    margin: 1rem;
}

.img-active {
    border: 1px solid #222;
}